.testimonial__title {
  text-align: center;
  font-size: var(--size-2xl);
  line-height: 1;
}

.testimonial__description {
  text-align: center;
  font-family: var(--font-secondary);
  font-size: var(--size-sm);
  color: var(--clr-muted);
  margin: 1rem 0;
}

.testimonial__box {
  background-color: var(--clr-bg);
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: var(--shadow-xl);
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial__box--0margin {
  margin: 0;
}

.testimonial__comment {
  font-size: var(--size-xs);
  font-family: var(--font-secondary);
}

.testimonial__name {
  font-size: var(--size-xs);
  color: var(--clr-muted);
}

/* xs */
@media (min-width: 475px) {
  .testimonial__title {
    font-size: var(--size-3xl);
  }

  .testimonial__description {
    font-size: var(--size-base);
  }

  .testimonial__comment {
    font-size: var(--size-sm);
  }

  .testimonial__name {
    font-size: var(--size-sm);
  }
}

/* sm */
@media (min-width: 640px) {
  .testimonial__description {
    max-width: 60ch;
    margin-inline: auto;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .testimonial__box {
    margin: 0;
  }

  .testimonial__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
  }

  .testimonial__title {
    font-size: var(--size-4xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .testimonial__title {
    font-size: var(--size-5xl);
  }

  .testimonial__description {
    font-size: var(--size-lg);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
